<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<intAttribute key="org.testng.eclipse.TYPE" value="5"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fest-swing-groovy"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST">
<listEntry value="org.fest.swing.groovy"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.eclipse.runner.RemoteTestNG"/>
</launchConfiguration>
