/*
 * Created on $date.get('MMM d, yyyy')
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under the License
 * is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing permissions and limitations under
 * the License.
 * 
 * Copyright @$date.get('yyyy') the original author or authors.
 */
package com.jtuzi.fest.assertions;

import java.util.Arrays;

import static com.jtuzi.fest.assertions.Fail.fail;
import static com.jtuzi.fest.assertions.Fail.failIfNotNull;
import static com.jtuzi.fest.assertions.Fail.failIfNull;
import static com.jtuzi.fest.assertions.Fail.errorMessageIfEqual;
import static com.jtuzi.fest.assertions.Fail.errorMessageIfNotEqual;

/**
 * Understands assertions for <code>${arrayType}</code> arrays. 
 * 
 * @author Yvonne Wang
 * @author Alex Ruiz
 */
public final class ${className} {

  private final ${arrayType}[] actual;

  ${className}(${arrayType}... actual) {
    this.actual = actual;
  }

  public ${className} isNull() {
    failIfNotNull(actual);
    return this;
  }

  public ${className} isNotNull() {
    failIfNull(actual);
    return this;
  }
  
  public ${className} isEmpty() {
    if (actual.length > 0) fail("expecting empty array, but was <" + Arrays.toString(actual) + ">");
    return this;
  }

  public ${className} isNotEmpty() {
    if (actual.length == 0) fail("expecting non-empty array");
    return this;
  }

  public ${className} isEqualTo(${arrayType}... expected) {
    if (!Arrays.equals(actual, expected)) 
      fail(errorMessageIfNotEqual(Arrays.toString(expected), Arrays.toString(actual)));
    return this;
  }

  public ${className} isNotEqualTo(${arrayType}... array) {
    if (Arrays.equals(actual, array)) 
      fail(errorMessageIfEqual(Arrays.toString(actual), Arrays.toString(array)));
    return this;
  }
}
