/*
 * Created on $date.get('MMM d, yyyy')
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under the License
 * is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing permissions and limitations under
 * the License.
 * 
 * Copyright @$date.get('yyyy') the original author or authors.
 */
package org.fest.assertions;

import org.testng.annotations.Test;

/**
 * Tests for <code>{${classToTest}}</code>.
 *
 * @author Yvonne Wang
 * @author Alex Ruiz
 */
public class ${testName} {

  @Test public void shouldPassIfGivenValuesAreInArray() {
    new ${classToTest}(${firstArray}).contains(${firstArray});
  }
  
  @Test(dependsOnMethods = "shouldPassIfGivenValuesAreInArray", expectedExceptions = AssertionError.class) 
  public void shouldFailIfGivenValueIsNotInArray() {
    new ${classToTest}(emptyArray()).contains(${firstArray});
  }

  @Test public void shouldPassIfGivenValuesAreNotInArray() {
    new ${classToTest}(${firstArray}).excludes(${secondArray});
  }
  
  @Test(dependsOnMethods = "shouldPassIfGivenValuesAreNotInArray", expectedExceptions = AssertionError.class) 
  public void shouldFailIfGivenValueIsInArray() {
    new ${classToTest}(${firstArray}).excludes(${firstArray});
  }

  @Test public void shouldPassIfArrayIsNull() {
    new ${classToTest}(nullArray()).isNull();
  }
  
  @Test(dependsOnMethods = "shouldPassIfArrayIsNull", expectedExceptions = AssertionError.class) 
  public void shouldFailIfArrayIsNotNull() {
    new ${classToTest}(emptyArray()).isNull();
  }

  @Test public void shouldPassIfArrayIsNotNull() {
    new ${classToTest}(emptyArray()).isNotNull();
  }
  
  @Test(dependsOnMethods = "shouldPassIfArrayIsNotNull", expectedExceptions = AssertionError.class) 
  public void shouldFailIfArrayIsNull() {
    new ${classToTest}(nullArray()).isNotNull();
  }

  @Test public void shouldPassIfArrayIsEmpty() {
    new ${classToTest}(emptyArray()).isEmpty();
  }
  
  @Test(dependsOnMethods = "shouldPassIfArrayIsEmpty" , expectedExceptions = AssertionError.class) 
  public void shouldFailIfArrayIsNotEmpty() {
    new ${classToTest}(${firstArray}).isEmpty();
  }

  @Test public void shouldPassIfArrayIsNotEmpty() {
    new ${classToTest}(${firstArray}).isNotEmpty();
  }
  
  @Test(dependsOnMethods = "shouldPassIfArrayIsNotEmpty", expectedExceptions = AssertionError.class) 
  public void shouldFailIfArrayIsEmpty() {
    new ${classToTest}(emptyArray()).isNotEmpty();
  }

  @Test public void shouldPassIfEqualArrays() {
    new ${classToTest}(${firstArray}).isEqualTo(array(${firstArray}));
  }
  
  @Test(dependsOnMethods = "shouldPassIfEqualArrays", expectedExceptions = AssertionError.class) 
  public void shouldFailIfNotEqualArrays() {
    new ${classToTest}(${firstArray}).isEqualTo(array(${secondArray}));
  }

  @Test public void shouldPassIfNotEqualArrays() {
    new ${classToTest}(${firstArray}).isNotEqualTo(array(${secondArray}));
  }
  
  @Test(dependsOnMethods = "shouldPassIfNotEqualArrays", expectedExceptions = AssertionError.class) 
  public void shouldFailIfEqualArrays() {
    new ${classToTest}(${firstArray}).isNotEqualTo(array(${firstArray}));
  }
  
  private ${arrayType}[] nullArray() { return null; }

  private ${arrayType}[] emptyArray() { return new ${arrayType}[0]; }
  
  private ${arrayType}[] array(${arrayType}... args) { return args; }
}
