/*
 * Created on $date.get('MMM d, yyyy')
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under the License
 * is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing permissions and limitations under
 * the License.
 * 
 * Copyright @$date.get('yyyy') the original author or authors.
 */
package org.fest.assertions;

import static java.lang.String.valueOf;

import static org.fest.assertions.Formatting.formatMessage;
import static org.fest.assertions.Formatting.formatObject;
import static org.fest.assertions.Fail.fail;
import static org.fest.util.Strings.concat;

/**
 * Understands failure methods for primitive types. 
 * 
 * @author Yvonne Wang
 */
public final class ${className} {

#foreach($type in $types)
  /**
   * Fails if the given $<code>$type</code>s are equal.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the value to check against <code>second</code>.
   * @param second second value.
   * @throws AssertionError if the given <code>$type</code>s are equal.
   */
  static void failIfEqual(String message, $type first, $type second) {
#if ($type == "double")    
    if (Double.compare(first, second) == 0) fail(errorMessageIfEqual(message, first, second));
#elseif ($type == "float")
    if (Float.compare(first, second) == 0) fail(errorMessageIfEqual(message, first, second));
#else
    if (first == second) fail(errorMessageIfEqual(message, first, second)); 
#end
  }
  
#end
#foreach($type in $types)
  /**
   * Returns an error message to be used when two <code>$type</code>s that are not expected to be equal are. 
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the value checked against <code>second</code>.
   * @param second second value.
   * @return an error message to be used when two <code>$type</code>s that are not expected to be equal are. 
   */
  static String errorMessageIfEqual(String message, $type first, $type second) {
    return concat(formatMessage(message), formatObject(valueOf(first)), " should not be equal to ", formatObject(valueOf(second)));
  }
  
#end
#foreach($type in $types)
  /**
   * Fails if the given <code>$type</code>s are not equal.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param actual the value to check against <code>expected</code>.
   * @param expected expected value.
   * @throws AssertionError if the given <code>$type</code>s are not equal.
   */
  static void failIfNotEqual(String message, $type actual, $type expected) {
#if ($type == "double")    
    if (Double.compare(actual, expected) != 0) fail(errorMessageIfNotEqual(message, actual, expected));
#elseif ($type == "float")
    if (Float.compare(actual, expected) != 0) fail(errorMessageIfNotEqual(message, actual, expected));
#else
    if (actual != expected) fail(errorMessageIfNotEqual(message, actual, expected));
#end
  }
  
#end
#foreach($type in $types)
  /**
   * Returns an error message to be used when two <code>$type</code>s that are expected to be equal aren't. 
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param actual the value checked against <code>expected</code>.
   * @param expected expected value.
   * @return an error message to be used when two <code>$type</code>s that are expected to be equal aren't. 
   */
  static String errorMessageIfNotEqual(String message, $type actual, $type expected) {
    return concat(formatMessage(message), "expected:", formatObject(valueOf(expected)), " but was:", formatObject(valueOf(actual)));
  }
  
#end
#foreach($type in $types)
#if ($type != "boolean")
  /**
   * Fails if the first value is not less than the second value.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the first value.
   * @param second the second value.
   * @throws AssertionError if the first value is not less than the second value.
   */
  static void failIfNotLessThan(String message, $type first, $type second) {
#if ($type == "double")    
    if (Double.compare(first, second) >= 0) fail(errorMessageIfNotLessThan(message, first, second));
#elseif ($type == "float")
    if (Float.compare(first, second) >= 0) fail(errorMessageIfNotLessThan(message, first, second));
#else
    if (first >= second) fail(errorMessageIfNotLessThan(message, first, second));
#end
  }

#end  
#end
#foreach($type in $types)
#if ($type != "boolean")
  /**
   * Returns an error message to be used when the first value is not less than the second value. 
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the first value.
   * @param second the second value.
   * @return an error message to be used when the first value is not less than the second value. 
   */
  static String errorMessageIfNotLessThan(String message, $type first, $type second) {
    return concat(formatMessage(message), formatObject(valueOf(first)), " should be less than ", formatObject(valueOf(second)));
  }
  
#end
#end
#foreach($type in $types)
#if ($type != "boolean")
  /**
   * Fails if the first value is not greater than the second value.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the first value.
   * @param second the second value.
   * @throws AssertionError if the first value is not greater than the second value.
   */
  static void failIfNotGreaterThan(String message, $type first, $type second) {
#if ($type == "double")    
    if (Double.compare(first, second) <= 0) fail(errorMessageIfNotGreaterThan(message, first, second));
#elseif ($type == "float")
    if (Float.compare(first, second) <= 0) fail(errorMessageIfNotGreaterThan(message, first, second));
#else
    if (first <= second) fail(errorMessageIfNotGreaterThan(message, first, second));
#end
  }

#end  
#end
#foreach($type in $types)
#if ($type != "boolean")
  /**
   * Returns an error message to be used when the first value is not greater than the second value. 
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the first value.
   * @param second the second value.
   * @return an error message to be used when the first value is not greater than the second value. 
   */
  static String errorMessageIfNotGreaterThan(String message, $type first, $type second) {
    return concat(formatMessage(message), formatObject(valueOf(first)), " should be greater than ", formatObject(valueOf(second)));
  }
  
#end
#end
  private ${className}() {}
}
