/*
 * Created on $date.get('MMM d, yyyy')
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software distributed under the License
 * is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing permissions and limitations under
 * the License.
 * 
 * Copyright @$date.get('yyyy') the original author or authors.
 */
package org.fest.assertions;

import static java.lang.String.valueOf;
import static org.fest.assertions.Fail.*;
import static org.fest.assertions.Formatting.*;
import static org.fest.util.Strings.concat;

/**
 * Understands failure methods for primitive types. 
 * 
 * @author Yvonne Wang
 * @author Alex Ruiz
 * @author David DIDIER
 */
public final class ${className} {

#foreach($type in $types)
  /**
   * Fails if the given $<code>$type</code>s are equal.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the value to check against <code>second</code>.
   * @param second second value.
   * @throws AssertionError if the given <code>$type</code>s are equal.
   */
  static void failIfEqual(String message, $type first, $type second) {
#if ($type == "double")    
    if (Double.compare(first, second) == 0) fail(errorMessageIfEqual(message, valueOf(first), valueOf(second)));
#elseif ($type == "float")
    if (Float.compare(first, second) == 0) fail(errorMessageIfEqual(message, valueOf(first), valueOf(second)));
#else
    if (first == second) fail(errorMessageIfEqual(message, valueOf(first), valueOf(second))); 
#end
  }  
#end
  
#foreach($type in $types)
  /**
   * Fails if the given <code>$type</code>s are not equal.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param actual the value to check against <code>expected</code>.
   * @param expected expected value.
   * @throws AssertionError if the given <code>$type</code>s are not equal.
   */
  static void failIfNotEqual(String message, $type actual, $type expected) {
#if ($type == "double")    
    if (Double.compare(actual, expected) != 0) 
      fail(errorMessageIfNotEqual(message, valueOf(actual), valueOf(expected)));
#elseif ($type == "float")
    if (Float.compare(actual, expected) != 0) fail(errorMessageIfNotEqual(message, valueOf(actual), valueOf(expected)));
#else
    if (actual != expected) fail(errorMessageIfNotEqual(message, valueOf(actual), valueOf(expected)));
#end
  }
#end

#foreach($type in $types)
#if ($type != "boolean")
  /**
   * Fails if the first value is not less than the second value.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the first value.
   * @param second the second value.
   * @throws AssertionError if the first value is not less than the second value.
   */
  static void failIfNotLessThan(String message, $type first, $type second) {
#if ($type == "double")    
    if (Double.compare(first, second) >= 0) fail(errorMessageIfNotLessThan(message, valueOf(first), valueOf(second)));
#elseif ($type == "float")
    if (Float.compare(first, second) >= 0) fail(errorMessageIfNotLessThan(message, valueOf(first), valueOf(second)));
#else
    if (first >= second) fail(errorMessageIfNotLessThan(message, valueOf(first), valueOf(second)));
#end
  }
#end  
#end

  private static String errorMessageIfNotLessThan(String message, String first, String second) {
    return concat(format(message), inBrackets(first), " should be less than ", inBrackets(second));
  }
  
#foreach($type in $types)
#if ($type != "boolean")
  /**
   * Fails if the first value is not greater than the second value.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the first value.
   * @param second the second value.
   * @throws AssertionError if the first value is not greater than the second value.
   */
  static void failIfNotGreaterThan(String message, $type first, $type second) {
#if ($type == "double")    
    if (Double.compare(first, second) <= 0) 
      fail(errorMessageIfNotGreaterThan(message, valueOf(first), valueOf(second)));
#elseif ($type == "float")
    if (Float.compare(first, second) <= 0) fail(errorMessageIfNotGreaterThan(message, valueOf(first), valueOf(second)));
#else
    if (first <= second) fail(errorMessageIfNotGreaterThan(message, valueOf(first), valueOf(second)));
#end
  }
#end  
#end

  private static String errorMessageIfNotGreaterThan(String message, String first, String second) {
    return concat(format(message), inBrackets(first), " should be greater than ", inBrackets(second));
  }

#foreach($type in $types)
#if ($type != "boolean")
  /**
   * Fails if the first value is not less or equal to the second value.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the first value.
   * @param second the second value.
   * @throws AssertionError if the first value is not less or equal to the second value.
   */
  static void failIfNotLessOrEqualTo(String message, $type first, $type second) {
#if ($type == "double")    
    if (Double.compare(first, second) > 0) 
      fail(errorMessageIfNotLessOrEqualTo(message, valueOf(first), valueOf(second)));
#elseif ($type == "float")
    if (Float.compare(first, second) > 0) 
      fail(errorMessageIfNotLessOrEqualTo(message, valueOf(first), valueOf(second)));
#else
    if (first > second) fail(errorMessageIfNotLessOrEqualTo(message, valueOf(first), valueOf(second)));
#end    
  }
#end
#end

  private static String errorMessageIfNotLessOrEqualTo(String message, String first, String second) {
    return concat(format(message), inBrackets(first), " should be less or equal to ", inBrackets(second));
  }

#foreach($type in $types)
#if ($type != "boolean")
  /**
   * Fails if the first value is not greater or equal to the second value.
   * @param message the identifying message or <code>null</code> for the <code>AssertionError</code>.
   * @param first the first value.
   * @param second the second value.
   * @throws AssertionError if the first value is not greater or equal to the second value.
   */
  static void failIfNotGreaterOrEqualTo(String message, $type first, $type second) {
#if ($type == "double")    
    if (Double.compare(first, second) < 0) 
      fail(errorMessageIfNotGreaterOrEqualTo(message, valueOf(first), valueOf(second)));
#elseif ($type == "float")
    if (Float.compare(first, second) < 0) 
      fail(errorMessageIfNotGreaterOrEqualTo(message, valueOf(first), valueOf(second)));
#else
    if (first < second) fail(errorMessageIfNotGreaterOrEqualTo(message, valueOf(first), valueOf(second)));
#end    
  }
#end
#end

  private static String errorMessageIfNotGreaterOrEqualTo(String message, String first, String second) {
    return concat(format(message), inBrackets(first), " should be greater or equal to ", inBrackets(second));
  }

  private ${className}() {}
}
